/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: aliceblue;
}


/* calssi per quadrati */
#grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 800px;
}

.square {
	width: 80px;
	height: 80px;
	border: solid 1px rgb(23, 68, 247);
}

.selezionata{
    background-color: rgb(23, 68, 247);
}